<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@9auto.ue</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!--<div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="{{ path('home') }}"><img src="/image/home/9auto-1.png" alt="9auto.ue" style="height: 39px"/></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('home') }}">Accueil</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="/car/fr">Vehicule</a></li>
                            <li><a href="#">Univers</a></li>
                            <li><a href="{{ path('contact_page') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="{{ path('home') }}" class="active">Accueil</a></li>
                            <li class="dropdown"><a href="#">Vehicules({{ nbr }})<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    {% for marque in marques %}
                                        <li><a href="{{ path('page_marque',{marque: marque.marque}) }}">{{ marque.marque }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-7 search_box">
                    <form class="form-inline row" method="post" action="/q/fr">
                        <div class="form-group col-sm-10 col-md-10 col-lg-10">
                            <input type="text" class="form-control" id="inputEmail3" name="query" placeholder="Recherchez un véhicule">
                        </div>
                        <button class="btn col-sm-2" style="border-radius: 0px; font-weight: bold; background-color: #FE980F; color: #FFFFFF; margin-left: -15px" type="submit">Chercher</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->